<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta charset="utf-8">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>  
<script>
setInterval(function() {
$('#cpu').load(' #cpu')},2000)
</script>
<title>Flask模板</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='buy_sell_take_button.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='horizontalbar.css') }}">
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
  background-color: white;
}
</style>
</head>
<body>
<ul>
  <form method="POST" action="/logined_playerpovety">  
  <li><a href="{{ url_for('logined_playerpovety') }}" >MY POVERTY</a></li>
  </form>
  <form method="POST" action="/currenthardware">
  <li><a href="{{ url_for('currenthardware') }}" >CURRENT SERVER HARDWARE</a></li>
  </form>
  </ul>
<div id='cpu'>  
<form method="POST" action="/currenthardware">  
<center><h6 style="color:white;width:1560px;height:60px;font-size:500%;">CURRENT SERVER HARDWARE CONSUMPTION</h6>  
<table class="center" style="width:1200px">
    <tr>
      <table style="background-color:white;height:100px;width:15%;position:absolute;left:10%">
      <tr>
        <th><h4 style="color:black;font-size:180%;height:15%">CPU usage</h4></th>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:200%;">{{ cpu }}%</h4></th>
      </tr>
      <tr>
        <th><progress style="accent-color:yellow;height:15px;width:60px" value="{{ cpu }}" max="100"> {{ cpu }}% </progress></th>
      </tr>
    </table>
    <table style="background-color:white;width:15%;position:absolute;left:32%">
      <tr>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:180%;height:15%">RAM usage</h4></th>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:200%;">{{ ram }}</h4></th>
      </tr>
      <tr>
        <th><progress style="accent-color:greenyellow;height:15px;width:60px" value="{{ ramper }}" max="100"> {{ cpu }}% </progress></th>
      </tr>
    </table>
    <table style="background-color:white;width:15%;position:absolute;right:32%">
      <tr>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:180%;height:15%">CPU feq</h4></th>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:200%;">{{ feq }}</h4></th>
      </tr>
      <tr>
        <th><progress style="accent-color:black;height:15px;width:60px" value="{{ intfeq }}" max="5000"> {{ feq }}% </progress></th>
      </tr>
    </table>
    <table style="background-color:white;width:15%;position:absolute;right:10%">
      <tr>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:180%;height:15%">powerusage</h4></th>
      </tr>
      <tr>
        <th><h4 style="color:black;font-size:200%;">{{ powerusage }}</h4></th>
      </tr>
      <tr>
        <th><progress style="accent-color:black;height:15px;width:60px" value="{{ power }}" max="1000"> {{ powerusage }} </progress></th>
      </tr>
    <textarea id="w3review" name="user" rows="4" cols="50" hidden>{{username}}</textarea>
    <textarea id="w3review" name="pass" rows="4" cols="50" hidden>{{password}}</textarea>  
  </form>  
</div>  
  </table>
</body>
</html>